<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>AgroSim2.0</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Agrosim - v 0.0.1
  * Author: Jorge Rueda, Juan Hernandez, Andres Castillo 
  * Entity: Universidad Autonoma de Bucaramanga - UNAB
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1 class="text-light"><a href="/"><span>AgroSim</span></a></h1>

            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Nosotros</a></li>
                    <li class="dropdown"><a href="#about"><span>Repositorios</span> <i
                                class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/Recursos multimedia">Recursos Multimedia</a></li>
                            <li><a href="/Modelos">Modelos</a></li>
                            <li><a href="/Documentos">Documentos</a></li>
                            <li><a href="/Simuladores">Simuladores/Software</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto active" href="#cta">Ayuda</a></li>
                    <li><a class="nav-link scrollto active" href="#footer">Servicios</a></li>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <a class="nav-link scrollto" button class="cta-btn" type="button">Buscar</button>
                            </a>
                        </span>
                        <input type="text" class="form-control">
                    </div>
        </div>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container" data-aos="fade-up">
            <br>
            <br>
            <br>
            <h1>Repositorio Digital Agropecuario AgroSim</h1>
            <br>
            <img src="static/img/agriculture.png" alt="Logo de AgroSim">
            <br>
            <h3>
                <font color="White">¡Bienvenidos!</font>
            </h3>
            <a class="nav-link scrollto"></a>
            <p>
                <font color="White">En el repositorio digital AgroSim, podrás encontrar una serie de modelos y recursos
                    digitales asociados a la Dinámica de Sistemas para apoyar la toma de decisiones del sector
                    agropecuario de Satander, Colombia. Queremos facilitar la búsqueda, investigación y acceso a la
                    información para las instituciones y/o contribuyentes del sector.</font>
                </a>
            </p>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row no-gutters">
                    <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="content">
                            <h3>Búsqueda en el Repositorio</h3>
                            <input type="text" placeholder="Encuentra tus repositorios" class="form-control">
                            <br>
                            <a class="nav-link scrollto" button class="btn btn-default"
                                type="button">Buscar</button></a>
                        </div>
                    </div>
                    <div class="col-xl-7 d-flex align-items-stretch">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <a type="button" href="/Recursos multimedia">
                                        <h4>Recursos Multimedia</h4>
                                    </a>
                                    <br>
                                    <img src="static/img/multimedia.png">
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <a type="button" href="/Modelos">
                                        <h4>Modelos</h4>
                                    </a>
                                    <br>
                                    <img src="static/img/modelos.png">
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <a type="button" href="/Documentos">
                                        <h4>Documentos</h4>
                                    </a>
                                    <br><img src="static/img/documentos.jpg">
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                    <a type="button" href="/Simuladores">
                                        <h4>Simuladores/Software</h4>
                                    </a>
                                    <br>
                                    <img src="static/img/simuladores.png">
                                </div>
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">

                <div class="text-center">
                    <h3>Ayuda</h3>
                    <p> Si tienes alguna inquietud sobre los servicios prestados, puedes mediante el boton de abajo
                        descargar nuestra guía de usuario</p>
                    <a class="cta-btn" href="/static/img/GUÍA.pdf" download="Guía de usuario">Descarga guía de
                        usuario</a>
                </div>

            </div>
        </section><!-- End Cta Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Indexado</h2>
                    <img src="static/img/google1.png">
                    <img src="static/img/google.png">
                    <img src="static/img/unab.png">
                    <img src="static/img/xplore.png">
                </div>
            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>AgroSim</h3>
                            <p class="pb-3"><em>"La agricultura, para un hombre honorable y de alto espíritu, es la
                                    mejor de todas las ocupaciones y artes por medio de las cuales un hombre puede
                                    procurarse el sustento."</em></p>
                            <p>
                                <strong>
                                    Jorge Camilo Rueda Marchena<br>
                                    Juan Manuel Hernandez Ardila<br>
                                    Andres Sebastian Castillo Reyes<br><br>
                                </strong>
                                <strong>Email:</strong> AgroSim@hotmail.com<br>
                            </p>
                            <div class="social-links mt-3">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Enlaces Útiles</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#hero">Nosotros</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#about">Repositorios</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#cta">Ayuda</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Otros Servicios</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.scopus.com/home.uri">Scopus</a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://scholar.google.com/">Google
                                    Scholar</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.unab.edu.co/">Unab</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="https://ieeexplore.ieee.org/Xplore/home.jsp">Ieee xplore</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Suscripción</h4>
                        <p>Suscribete para recibir información sobre nuevos repositorios agregados</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>AgroSim</span></strong>. Todos los derechos reservados
            </div>
            <div class="credits">

                <a>Team_Go 2021</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>
    <script src="static/vendor/purecounter/purecounter.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>



</body>

</html>