<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Modelos</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Agrosim - v 0.0.1
  * Author: Jorge Rueda, Juan Hernandez, Andres Castillo 
  * Entity: Universidad Autonoma de Bucaramanga - UNAB
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="/"><span>AgroSim</span></a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Nosotros</a></li>
          <li class="dropdown"><a href="#about"><span>Repositorios</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/Recursos multimedia">Recursos Multimedia</a></li>
              <li><a href="/Modelos">Modelos</a></li>
              <li><a href="/Documentos">Documentos</a></li>
              <li><a href="/Simuladores">Simuladores/Software</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto active" href="#footer">Servicios</a></li>
    </div>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Modelos</h2>
          <ol>
            <li><a href="/">Nosotros</a></li>
            <li>Modelos</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">

      <div class="container">
        <img src="static/img/modelado-3d.png" align="left">
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="boton_buscar" style="margin-right: 10px" type="button">Buscar</button>
              </span>
              <input type="text" class="form-control">
            </div>
          </div>
          <pre>
            <h1 align="center " style="color: black;">Resultado de la búsqueda</h1>
        </pre>
          <table style="text-align:center;" summary="Tabla con los datos de los resultados de la búsqueda">
            <tr>
              <th abbr="Imagen del documentos" scope="col">
              </th>
              <th abbr="Titulo del documento" scope="col">
                <h3 align="center " style="color: black;">Título</h3>
              </th>
            </tr>

            <tr>
              <td>
                <img src="static/img/modelo.png" alt="Imagen de portada" />
              </td>

              <td>
                <h4><a href="https://revistas.eia.edu.co/index.php/reveia/article/view/877/1012" target="_blank"
                    style="color: black;" title="Ver más información sobre el documento">Modelo matemático de la
                    demografía del ganado de un
                    predio del sector El Ocho Letras</a></h4>
                <br>
              </td>
            </tr>

            <tr>
              <td>
                <img src="static/img/modelo.png" alt="Imagen de portada" />
              </td>

              <td>
                <h4><a href="https://www.researchgate.net/publication/255572353" target="_blank" style="color: black;"
                    title="Ver más información sobre el documento">Modelado de sistemas de producción ganadera:
                    integración de componentes y sus interacciones en el desarrollo de modelos de simulación</a></h4>
              </td>
            </tr>

            <tr>
              <td>
                <img src="static/img/modelo.png" alt="Imagen de portada" />
              </td>

              <td>
                <h4><a href="https://cdnsciencepub.com/doi/abs/10.4141/A99-020" target="_blank" style="color: black;"
                    title="Ver más información sobre el documento">Estructura de un modelo de simulación dinámica para
                    sistemas de producción de ganado de carne</a></h4>
              </td>
            </tr>

            <tr>
              <td>
                <img src="static/img/modelo.png" alt="Imagen de portada" />
              </td>

              <td>
                <h4><a href="http://www.revistatyca.org.mx/ojs/index.php/tyca/article/view/1584" target="_blank"
                    style="color: black;" title="Ver más información sobre el documento">Modelo de simulación para el
                    drenaje agrícola
                    subterráneo</a></h4>
              </td>
            </tr>
          </table>
        </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>AgroSim</h3>
              <p class="pb-3"><em>"La agricultura, para un hombre honorable y de alto espíritu, es la mejor de todas las
                  ocupaciones y artes por medio de las cuales un hombre puede procurarse el sustento."</em></p>
              <p>
                <strong>
                  Jorge Camilo Rueda Marchena<br>
                  Juan Manuel Hernandez Ardila<br>
                  Andres Sebastian Castillo Reyes<br><br>
                </strong>
                <strong>Email:</strong> AgroSim@hotmail.com<br>
              </p>
              <div class="social-links mt-3">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Enlaces Útiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Repositorios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#cta">Ayuda</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Otros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.scopus.com/home.uri">Scopus</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://scholar.google.com/">Google Scholar</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.unab.edu.co/">Unab</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://ieeexplore.ieee.org/Xplore/home.jsp">Ieee
                  xplore</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Suscripción</h4>
            <p>Suscribete para recibir información sobre nuevos repositorios agregados</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>AgroSim</span></strong>. Todos los derechos reservados
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>